*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 600px;
    background-image: url(img/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.first-test{
    width: 50%;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: auto;
}
h1{
    color: rgb(235, 43, 9);
    font-size: 40px;
}
p{
    color: black;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
}
#Service-heading{
    padding-top: 30px;
}
.link-button{
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}
.link-button:hover{
    color: brown;
    background-color: aliceblue;
    transition: .2s;
}
.section-two{
    width: 100%;
    height: 300px;
    display: flex;
}
.second-section{
    width: 50%;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: auto;
}
.link-button-two{
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}
.link-button-two:hover{
    color: brown;
    background-color: aliceblue;
    transition: .2s;
}
.third-section{
    display: flex;
}
.box{
    width: 20%;
    height: 180px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 3%;
    background-color: aquamarine;
    border-radius: 0 40px 40px 40px;
}
.box:hover{
    background-color: goldenrod;
    transition: .2s;
}
.section-three{
    text-align: center;
    background-color: antiquewhite;
    width: 100%;
    height: 350px;
}
.image-card{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}
.image-card img{
    width: 400px;
    height: 300px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 32px;
    transition: 400ms;
}
.image-card img:hover{
    transform: scale(1.03);
}
.section-four{
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 15px;
    background-color: rgb(209, 209, 209);
    margin-bottom: 15px;
}
.four-section{
    color: green;
    width: 50%;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: auto;
}
.section-five{
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.fifth-section{
    width: 50%;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: auto;
}
footer{
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: rgb(46, 45, 45);
}
footer p{
    color: aliceblue;
    padding: 25px;
    margin: auto;
}